* {
  box-sizing: border-box;
}

html {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  font-size: 36px;
}

header {
  display: flex;
  height: 80px;
  background-color: lightcoral;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  padding-left: 20px;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  background-color: white;
  height: 300px;
  margin: 200px 20% auto 20%;
  position: relative;
}

main .scores-div {
  display: flex;
  background-color: white;
}

.timer-div {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  right: -10px;
  color: lightcoral;
}

.timer {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 13px;
}

.scores-div {
  flex-direction: column;
  visibility: hidden;
  margin: 20px, 5% 30px 5%;
  padding-bottom: 20px;
  min-height: 300px;
}


@media screen and (max-width: 650px) {
  main {
    margin: 100px 5% auto 5%;
  }
}